CompileFlags:
  CompilationDatabase: out/build/local
  Add:
    - -std=c++23
    - -Iinc

# If clangd can't find a compilation database for a file (e.g., new files),
# it will fall back to these flags.
FallbackFlags:
  - -std=c++23
  - -Iinc

Diagnostics:
  UnusedIncludes: Strict

