---
BasedOnStyle: LLVM
IndentWidth: 5
TabWidth: 5
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
DerivePointerAlignment: false

SortIncludes: true
IncludeBlocks: Regroup

SpaceBeforeParens: ControlStatements
...
