CompileFlags:
  CompilationDatabase: out/build/local
  Add:
    - -std=gnu++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wsign-conversion
    - -Wshadow
    - -Werror

Diagnostics:
  UnusedIncludes: Strict

